In [ ]:
!pip install pyspark

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv("/kaggle/input/testing1/Test.csv")

In [ ]:
# Need to import to use date time
from datetime import datetime, date

# need to import to use pyspark
from pyspark.sql import Row

# need to import for session creation
from pyspark.sql import SparkSession

# creating the session
spark = SparkSession.builder.appName('Practice').getOrCreate()

 

# schema creation by passing list
#df = spark.createDataFrame([
#Row(a=1, b=4., c='GFG1', d=date(2000, 8, 1),
#e=datetime(2000, 8, 1, 12, 0)),

#Row(a=2, b=8., c='GFG2', d=date(2000, 6, 2),
#e=datetime(2000, 6, 2, 12, 0)),

#Row(a=4, b=5., c='GFG3', d=date(2000, 5, 3),
#e=datetime(2000, 5, 3, 12, 0))
#])

# show table
#df.show()

# show schema
#df.printSchema()

In [ ]:
df_pyspark=spark.read.csv("/kaggle/input/testing1/Test.csv")
df_pyspark.show()
df_pyspark=spark.read.option('header','true').csv("/kaggle/input/testing1/Test.csv")
type(df_pyspark)
df_pyspark.head(3)

In [ ]:
#date 10/13/2023
#  -PySpark -Dataframe
#  -Reading the datasets
#  -Checking the datatypes of the column(Schema)
#  -Selection Columns and Index
#  _Checkin Describe option like to Pandas
#  -Adding new column in data frame
#  -Dropping new column in data frame

!pip install pyspark

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Dataframe").getOrCreate()


spark

In [ ]:
# read the data set option -1
df_pyspark=spark.read.option('header','true').csv('/kaggle/input/testing1/Test.csv',inferSchema=True)

In [ ]:
# check the schema

df_pyspark.printSchema()

In [ ]:
# read the data set option - 2
df_pyspark=spark.read.csv('/kaggle/input/testing1/Test.csv',header=True,inferSchema=True)
df_pyspark.printSchema()

In [ ]:
type(df_pyspark)

In [ ]:
# find the column name
df_pyspark.columns

In [ ]:
# find head and tail records
df_pyspark.head(2)

In [ ]:
df_pyspark.tail(2)

In [ ]:
# select the perticular column
df_pyspark.select('Name ').show()

In [ ]:
# select the multiple columns
df_pyspark.select('Name ','age ').show()

In [ ]:
# find the datatype
df_pyspark.dtypes

In [ ]:
# desrcibe funtions

df_pyspark.describe().show()

In [ ]:
### Adding column in dataframes   withColumn()
df_pyspark=df_pyspark.withColumn('age after 5 year',df_pyspark['age ']+5)

In [ ]:
df_pyspark.show()

In [ ]:
### drop the column 

df_pyspark=df_pyspark.drop('age after 5 year')

df_pyspark.show()

In [ ]:
### re -Name the column

df_pyspark=df_pyspark.withColumnRenamed('Name ','EMPName')

type(df_pyspark)

df_pyspark.columns

# Pyspark Handling Missing Values
# dropping columns
# dropping rows
# Various Parameter in Dropping functionalities
# Handling Missing values by mean

In [ ]:
! pip install pyspark

import pyspark

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Practise").getOrCreate()

In [ ]:
df_pyspark=spark.read.csv('/kaggle/input/testing3/Test2.csv', header=True,inferSchema=True)
df_pyspark1=spark.read.csv('/kaggle/input/testing4/Test3.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark1.show()

In [ ]:
# Drop the column
df_pyspark1.drop('city').show()

In [ ]:
df_pyspark1.show()

In [ ]:
# Remove all Rows in the datasets which have NULL values
df_pyspark1.na.drop().show()

# drop has 3 parametes (how='any/all', thresh=any number,subset=['column name'])

In [ ]:
# Remove all Row rows that have at least one NULL values  set (any / all)
df_pyspark1.na.drop(how='any').show()

In [ ]:
df_pyspark1.na.drop(how='all').show()

In [ ]:
### threshold  we can set threshold 1,2,3,4,,,,,,---> any number based on colums numbers
df_pyspark1.na.drop(how='any',thresh=4).show()

In [ ]:
### threshold  we can set threshold 1,2,3,4,,,,,,---> any number based on colums numbers
df_pyspark1.na.drop(how='any',thresh=1).show()

In [ ]:
### threshold  we can set threshold 1,2,3,4,,,,,,---> any number based on colums numbers
df_pyspark1.na.drop(how='any',thresh=2).show()

In [ ]:
### threshold  we can set threshold 1,2,3,4,,,,,,---> any number based on colums numbers
df_pyspark1.na.drop(how='any',thresh=3).show()

In [ ]:
### threshold  we can set threshold 1,2,3,4,,,,,,---> any number based on colums numbers
df_pyspark1.na.drop(how='any',thresh=4).show()

In [ ]:
## subset  -> we can provide column numes in the subset the it will filter based on perticular column
# remove the row that contains NULL values
df_pyspark1.na.drop(how='any',subset=['age']).show()

In [ ]:
df_pyspark1.na.drop(how='any',subset=['age','city','salary']).show()

# Filling the Missing Values in the NULL Fields
# fill has 2 parameters -> value and subset

In [ ]:
df_pyspark1.na.fill('Missing value').show()

In [ ]:
df_pyspark1.na.fill('Missing Values',subset=['age','Salary','city']).show()

# because age and Salary are Integer fields

In [ ]:
df_pyspark1.na.fill(33,subset=['age']).show()

In [ ]:
df_pyspark1.na.fill(50000,subset=['age']).show()

# Handling Missing values by mean /mode /Medium throught imputer function

In [ ]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['age','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Salary']]
).setStrategy("mean")

In [ ]:
imputer.fit(df_pyspark1).transform(df_pyspark1).show()

In [ ]:
df_pyspark1.printSchema()

# Pyspark-Data Frame -Filter Operation

In [4]:
! pip install pyspark

import pyspark

Requirement already satisfied: pyspark in /opt/conda/lib/python3.10/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [7]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Practice").getOrCreate()

df_pyspark=spark.read.csv("/kaggle/input/testing4/Test3.csv",header=True,inferSchema=True)

df_pyspark.show()

+-------+----+----+------+
|   Name| age|city|Salary|
+-------+----+----+------+
|Paurash|  25| BLG|100000|
| Prashi|  23| BLG| 80000|
|  AAAAA|  25| HYR| 70000|
| BBBBBB|NULL| GUR| 65000|
| CCCCCC|NULL| NOI| 76000|
| CCCCCC|  25| RAI|  NULL|
|  DDDDD|  25|NULL|125000|
| EEEEEE|  25|NULL|250000|
+-------+----+----+------+

# filter by Salary >=75000

In [8]:
df_pyspark.filter("Salary>=75000").show()

+-------+----+----+------+
|   Name| age|city|Salary|
+-------+----+----+------+
|Paurash|  25| BLG|100000|
| Prashi|  23| BLG| 80000|
| CCCCCC|NULL| NOI| 76000|
|  DDDDD|  25|NULL|125000|
| EEEEEE|  25|NULL|250000|
+-------+----+----+------+

# Select the perticular columns

In [10]:
df_pyspark.filter("Salary>=75000").select(['Name','age']).show()

+-------+----+
|   Name| age|
+-------+----+
|Paurash|  25|
| Prashi|  23|
| CCCCCC|NULL|
|  DDDDD|  25|
| EEEEEE|  25|
+-------+----+

# Different way

In [11]:
df_pyspark.filter(df_pyspark['Salary']>=75000).show()

+-------+----+----+------+
|   Name| age|city|Salary|
+-------+----+----+------+
|Paurash|  25| BLG|100000|
| Prashi|  23| BLG| 80000|
| CCCCCC|NULL| NOI| 76000|
|  DDDDD|  25|NULL|125000|
| EEEEEE|  25|NULL|250000|
+-------+----+----+------+

# Two Conditions filter

In [12]:
df_pyspark.filter((df_pyspark['Salary']>=80000) &(df_pyspark['Salary']<=110000)).show()

+-------+---+----+------+
|   Name|age|city|Salary|
+-------+---+----+------+
|Paurash| 25| BLG|100000|
| Prashi| 23| BLG| 80000|
+-------+---+----+------+

# Inserse filter operation

In [13]:
df_pyspark.filter(~ (df_pyspark['Salary']>=100000)).show()

+------+----+----+------+
|  Name| age|city|Salary|
+------+----+----+------+
|Prashi|  23| BLG| 80000|
| AAAAA|  25| HYR| 70000|
|BBBBBB|NULL| GUR| 65000|
|CCCCCC|NULL| NOI| 76000|
+------+----+----+------+

# Pyspark Group by and Aggrigate function

In [16]:
import pyspark

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Practice").getOrCreate()

df_pyspark1=spark.read.csv("/kaggle/input/testing5/Test4.csv",header=True,inferSchema=True)
df_pyspark1.show()

+--------+------------+------+
|    Name|        Dept|Salary|
+--------+------------+------+
|   Krish|Data Science| 10000|
|   krish|         IOT|  5000|
|  Mahesh|    Big Data|  4000|
|   Krish|    Big Data|  4000|
|Sudhansu|    Big Data|  4000|
|Sudhansu|         IOT|  5000|
| Praveen|Data Science| 10000|
|   Kajal|         FSE|  6000|
|   Kajal|         IOT|  5000|
|  Preeti|Data Science| 10000|
|     bob|Data Science| 10000|
|   Alias|         IOT|  5000|
+--------+------------+------+

In [18]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Salary: integer (nullable = true)

# Group By ->sum(),min,max,count,sum..... Note Group by always ask agg function

In [23]:
df_pyspark1.groupBy('Dept').sum().show()

+------------+-----------+
|        Dept|sum(Salary)|
+------------+-----------+
|         IOT|      20000|
|         FSE|       6000|
|    Big Data|      12000|
|Data Science|      40000|
+------------+-----------+

In [29]:
df_pyspark1.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
| Praveen|      10000|
|   Alias|       5000|
|  Preeti|      10000|
|   Krish|      10000|
|   krish|       5000|
|   Kajal|       6000|
|     bob|      10000|
|  Mahesh|       4000|
|Sudhansu|       5000|
+--------+-----------+

In [30]:
df_pyspark1.groupBy('Dept').min().show()

+------------+-----------+
|        Dept|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|         FSE|       6000|
|    Big Data|       4000|
|Data Science|      10000|
+------------+-----------+

In [31]:
df_pyspark1.groupBy('Dept').count().show()

+------------+-----+
|        Dept|count|
+------------+-----+
|         IOT|    4|
|         FSE|    1|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [36]:
df_pyspark1.groupBy('Name').mean().show()

+--------+-----------+
|    Name|avg(Salary)|
+--------+-----------+
| Praveen|    10000.0|
|   Alias|     5000.0|
|  Preeti|    10000.0|
|   Krish|     7000.0|
|   krish|     5000.0|
|   Kajal|     5500.0|
|     bob|    10000.0|
|  Mahesh|     4000.0|
|Sudhansu|     4500.0|
+--------+-----------+

In [32]:
df_pyspark1.groupBy('Name').count().show()

+--------+-----+
|    Name|count|
+--------+-----+
| Praveen|    1|
|   Alias|    1|
|  Preeti|    1|
|   Krish|    2|
|   krish|    1|
|   Kajal|    2|
|     bob|    1|
|  Mahesh|    1|
|Sudhansu|    2|
+--------+-----+

# Another way to use aggregate functions

In [35]:
df_pyspark1.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      78000|
+-----------+

In [37]:
df_pyspark1.agg({'Salary':'max'}).show()

+-----------+
|max(Salary)|
+-----------+
|      10000|
+-----------+

In [38]:
df_pyspark1.agg({'Salary':'min'}).show()

+-----------+
|min(Salary)|
+-----------+
|       4000|
+-----------+

In [39]:
df_pyspark1.agg({'Salary':'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     6500.0|
+-----------+

In [40]:
df_pyspark1.agg({'Salary':'count'}).show()

+-------------+
|count(Salary)|
+-------------+
|           12|
+-------------+