In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... - done
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... - \ | done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425350 sha256=7951aa2c51deae583699f734643df8ceefe5c69c3d250bd592edb11e77985238
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv("/kaggle/input/testing1/Test.csv")

     Name   age  city
0  Paurash    25  BLG
1   Prashi    23  BLG
2    AAAAA    25  BLG
3   BBBBBB    25  BLG
4   CCCCCC    25  BLG
5   CCCCCC    25  BLG
6    DDDDD    25  BLG
7   EEEEEE    25  BLG

In [4]:
# Need to import to use date time
from datetime import datetime, date

# need to import to use pyspark
from pyspark.sql import Row

# need to import for session creation
from pyspark.sql import SparkSession

# creating the session
spark = SparkSession.builder.appName('Practice').getOrCreate()

 

# schema creation by passing list
#df = spark.createDataFrame([
#Row(a=1, b=4., c='GFG1', d=date(2000, 8, 1),
#e=datetime(2000, 8, 1, 12, 0)),

#Row(a=2, b=8., c='GFG2', d=date(2000, 6, 2),
#e=datetime(2000, 6, 2, 12, 0)),

#Row(a=4, b=5., c='GFG3', d=date(2000, 5, 3),
#e=datetime(2000, 5, 3, 12, 0))
#])

# show table
#df.show()

# show schema
#df.printSchema()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/12 20:22:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_pyspark=spark.read.csv("/kaggle/input/testing1/Test.csv")
df_pyspark.show()
df_pyspark=spark.read.option('header','true').csv("/kaggle/input/testing1/Test.csv")
type(df_pyspark)
df_pyspark.head(3)

+-------+----+----+
|    _c0| _c1| _c2|
+-------+----+----+
|  Name |age |city|
|Paurash|  25| BLG|
| Prashi|  23| BLG|
|  AAAAA|  25| BLG|
| BBBBBB|  25| BLG|
| CCCCCC|  25| BLG|
| CCCCCC|  25| BLG|
|  DDDDD|  25| BLG|
| EEEEEE|  25| BLG|
+-------+----+----+

[Row(Name ='Paurash', age ='25', city='BLG'),
 Row(Name ='Prashi', age ='23', city='BLG'),
 Row(Name ='AAAAA', age ='25', city='BLG')]

In [6]:
#date 10/13/2023
#  -PySpark -Dataframe
#  -Reading the datasets
#  -Checking the datatypes of the column(Schema)
#  -Selection Columns and Index
#  _Checkin Describe option like to Pandas
#  -Adding new column in data frame
#  -Dropping new column in data frame

!pip install pyspark

Requirement already satisfied: pyspark in /opt/conda/lib/python3.10/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

In [7]:
import pyspark

In [8]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Dataframe").getOrCreate()


spark

23/10/12 20:22:40 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [9]:
# read the data set option -1
df_pyspark=spark.read.option('header','true').csv('/kaggle/input/testing1/Test.csv',inferSchema=True)

In [10]:
# check the schema

df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- age : integer (nullable = true)
 |-- city: string (nullable = true)

In [11]:
# read the data set option - 2
df_pyspark=spark.read.csv('/kaggle/input/testing1/Test.csv',header=True,inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- age : integer (nullable = true)
 |-- city: string (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
# find the column name
df_pyspark.columns

['Name ', 'age ', 'city']

In [14]:
# find head and tail records
df_pyspark.head(2)

[Row(Name ='Paurash', age =25, city='BLG'),
 Row(Name ='Prashi', age =23, city='BLG')]

In [15]:
df_pyspark.tail(2)

[Row(Name ='DDDDD', age =25, city='BLG'),
 Row(Name ='EEEEEE', age =25, city='BLG')]

In [16]:
# select the perticular column
df_pyspark.select('Name ').show()

+-------+
|  Name |
+-------+
|Paurash|
| Prashi|
|  AAAAA|
| BBBBBB|
| CCCCCC|
| CCCCCC|
|  DDDDD|
| EEEEEE|
+-------+

In [17]:
# select the multiple columns
df_pyspark.select('Name ','age ').show()

+-------+----+
|  Name |age |
+-------+----+
|Paurash|  25|
| Prashi|  23|
|  AAAAA|  25|
| BBBBBB|  25|
| CCCCCC|  25|
| CCCCCC|  25|
|  DDDDD|  25|
| EEEEEE|  25|
+-------+----+

In [18]:
# find the datatype
df_pyspark.dtypes

[('Name ', 'string'), ('age ', 'int'), ('city', 'string')]

In [19]:
# desrcibe funtions

df_pyspark.describe().show()

+-------+------+------------------+----+
|summary| Name |              age |city|
+-------+------+------------------+----+
|  count|     8|                 8|   8|
|   mean|  NULL|             24.75|NULL|
| stddev|  NULL|0.7071067811865475|NULL|
|    min| AAAAA|                23| BLG|
|    max|Prashi|                25| BLG|
+-------+------+------------------+----+

In [20]:
### Adding column in dataframes   withColumn()
df_pyspark=df_pyspark.withColumn('age after 5 year',df_pyspark['age ']+5)

In [21]:
df_pyspark.show()

+-------+----+----+----------------+
|  Name |age |city|age after 5 year|
+-------+----+----+----------------+
|Paurash|  25| BLG|              30|
| Prashi|  23| BLG|              28|
|  AAAAA|  25| BLG|              30|
| BBBBBB|  25| BLG|              30|
| CCCCCC|  25| BLG|              30|
| CCCCCC|  25| BLG|              30|
|  DDDDD|  25| BLG|              30|
| EEEEEE|  25| BLG|              30|
+-------+----+----+----------------+

In [22]:
### drop the column 

df_pyspark=df_pyspark.drop('age after 5 year')

df_pyspark.show()

+-------+----+----+
|  Name |age |city|
+-------+----+----+
|Paurash|  25| BLG|
| Prashi|  23| BLG|
|  AAAAA|  25| BLG|
| BBBBBB|  25| BLG|
| CCCCCC|  25| BLG|
| CCCCCC|  25| BLG|
|  DDDDD|  25| BLG|
| EEEEEE|  25| BLG|
+-------+----+----+

In [23]:
### re -Name the column

df_pyspark=df_pyspark.withColumnRenamed('Name ','EMPName')

type(df_pyspark)

df_pyspark.columns

['EMPName', 'age ', 'city']